# serve_on = "port"
# port = 8080

serve_on = "unixsock"
unix_socket = "./lilac.sock"

[store.git]
path = "../testing"
branch = "main"

[micropub]
me = "https://karawale.in"
token_endpoint = "https://tokens.indieauth.com/token"

[micropub.media]
dir = "public/media"

[micropub.post]
timezone = "Asia/Kolkata"

[micropub.post.dir]
note = "content/notes"
article = "content/articles"
checkin = "content/checkins"
like = "content/likes"

[micropub.post.url]
note = "content/notes"
article = "content/articles"
checkin = "content/checkins"
like = "content/likes"
