[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
requests = "*"
"ruamel.yaml" = "*"
python-dateutil = "*"
alembic = "*"
pytest = "*"

[dev-packages]
pyopenssl = "*"
black = "*"

[requires]
python_version = "3.10"
